.coffe-list{
    background-color: burlywood;
    border-radius: 12 px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.coffee-card{
    width: 240 px;
    padding: 1em;
    background-color: rgb(42, 22, 4);
    color: burlywood;
    border-radius: calc(12px-1em);
    margin: 1em;
}